@model IdentityProject.Dtos.UserRegisterDto;

@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<form method="post">
    <div class="container">
        <br /><br />
        <h3>Yeni Kullanıcı</h3>
        <label>Adınız</label>
        <input type="text" asp-for="Name" class="form-control" />
        <br />
        <label>Soyad</label>
        <input type="text" asp-for="Surname" class="form-control" />
        <br />
        <label>Kullanıcı Adı</label>
        <input type="text" asp-for="Username" class="form-control" />
        <br />
        <label>Email</label>
        <input type="text" asp-for="Email" class="form-control" />
        <br />
        <label>Şifreniz</label>
        <input type="text" asp-for="Password" class="form-control" />
        <br />
    </div>
</form>